{
    "openapi": "3.0.0",
    "info": {
        "title": "OpenAI API",
        "description": "APIs for sampling from and fine-tuning language models",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.openai.com/v1"
        }
    ],
    "tags": [
        {
            "name": "OpenAI",
            "description": "The OpenAI REST API"
        }
    ],
    "paths": {
        "/chat/completions": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates a model response for the given chat conversation.",
                "operationId": "createChatCompletion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateChatCompletionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateChatCompletionResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create chat completion",
                    "group": "chat",
                    "path": "create",
                    "beta": true,
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/chat\/completions \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-3.5-turbo\",\n    \"messages\": [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {\"role\": \"user\", \"content\": \"Hello!\"}]\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\n\ncompletion = openai.ChatCompletion.create(\n  model=\"gpt-3.5-turbo\",\n  messages=[\n    {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n    {\"role\": \"user\", \"content\": \"Hello!\"}\n  ]\n)\n\nprint(completion.choices[0].message)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\n\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\n\nconst completion = await openai.createChatCompletion({\n  model: \"gpt-3.5-turbo\",\n  messages: [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {role: \"user\", content: \"Hello world\"}],\n});\nconsole.log(completion.data.choices[0].message);\n"
                    },
                    "parameters": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {\"role\": \"user\", \"content\": \"Hello!\"}]\n}\n",
                    "response": "{\n  \"id\": \"chatcmpl-123\",\n  \"object\": \"chat.completion\",\n  \"created\": 1677652288,\n  \"choices\": [{\n    \"index\": 0,\n    \"message\": {\n      \"role\": \"assistant\",\n      \"content\": \"\\n\\nHello there, how may I assist you today?\",\n    },\n    \"finish_reason\": \"stop\"\n  }],\n  \"usage\": {\n    \"prompt_tokens\": 9,\n    \"completion_tokens\": 12,\n    \"total_tokens\": 21\n  }\n}\n"
                }
            }
        },
        "/completions": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates a completion for the provided prompt and parameters.",
                "operationId": "createCompletion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCompletionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateCompletionResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create completion",
                    "group": "completions",
                    "path": "create",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/completions \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"VAR_model_id\",\n    \"prompt\": \"Say this is a test\",\n    \"max_tokens\": 7,\n    \"temperature\": 0\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Completion.create(\n  model=\"VAR_model_id\",\n  prompt=\"Say this is a test\",\n  max_tokens=7,\n  temperature=0\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createCompletion({\n  model: \"VAR_model_id\",\n  prompt: \"Say this is a test\",\n  max_tokens: 7,\n  temperature: 0,\n});\n"
                    },
                    "parameters": "{\n  \"model\": \"VAR_model_id\",\n  \"prompt\": \"Say this is a test\",\n  \"max_tokens\": 7,\n  \"temperature\": 0,\n  \"top_p\": 1,\n  \"n\": 1,\n  \"stream\": false,\n  \"logprobs\": null,\n  \"stop\": \"\\n\"\n}\n",
                    "response": "{\n  \"id\": \"cmpl-uqkvlQyYK7bGYrRHQ0eXlWi7\",\n  \"object\": \"text_completion\",\n  \"created\": 1589478378,\n  \"model\": \"VAR_model_id\",\n  \"choices\": [\n    {\n      \"text\": \"\\n\\nThis is indeed a test\",\n      \"index\": 0,\n      \"logprobs\": null,\n      \"finish_reason\": \"length\"\n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 5,\n    \"completion_tokens\": 7,\n    \"total_tokens\": 12\n  }\n}\n"
                }
            }
        },
        "/edits": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates a new edit for the provided input, instruction, and parameters.",
                "operationId": "createEdit",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEditRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateEditResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create edit",
                    "group": "edits",
                    "path": "create",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/edits \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"VAR_model_id\",\n    \"input\": \"What day of the wek is it?\",\n    \"instruction\": \"Fix the spelling mistakes\"\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Edit.create(\n  model=\"VAR_model_id\",\n  input=\"What day of the wek is it?\",\n  instruction=\"Fix the spelling mistakes\"\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createEdit({\n  model: \"VAR_model_id\",\n  input: \"What day of the wek is it?\",\n  instruction: \"Fix the spelling mistakes\",\n});\n"
                    },
                    "parameters": "{\n  \"model\": \"VAR_model_id\",\n  \"input\": \"What day of the wek is it?\",\n  \"instruction\": \"Fix the spelling mistakes\"\n}\n",
                    "response": "{\n  \"object\": \"edit\",\n  \"created\": 1589478378,\n  \"choices\": [\n    {\n      \"text\": \"What day of the week is it?\",\n      \"index\": 0,\n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 25,\n    \"completion_tokens\": 32,\n    \"total_tokens\": 57\n  }\n}\n"
                }
            }
        },
        "/images/generations": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates an image given a prompt.",
                "operationId": "createImage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateImageRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImagesResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create image",
                    "group": "images",
                    "path": "create",
                    "beta": true,
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/images\/generations \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"prompt\": \"A cute baby sea otter\",\n    \"n\": 2,\n    \"size\": \"1024x1024\"\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Image.create(\n  prompt=\"A cute baby sea otter\",\n  n=2,\n  size=\"1024x1024\"\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createImage({\n  prompt: \"A cute baby sea otter\",\n  n: 2,\n  size: \"1024x1024\",\n});\n"
                    },
                    "parameters": "{\n  \"prompt\": \"A cute baby sea otter\",\n  \"n\": 2,\n  \"size\": \"1024x1024\"\n}\n",
                    "response": "{\n  \"created\": 1589478378,\n  \"data\": [\n    {\n      \"url\": \"https:\/\/...\"\n    },\n    {\n      \"url\": \"https:\/\/...\"\n    }\n  ]\n}\n"
                }
            }
        },
        "/images/edits": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates an edited or extended image given an original image and a prompt.",
                "operationId": "createImageEdit",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateImageEditRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImagesResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create image edit",
                    "group": "images",
                    "path": "create-edit",
                    "beta": true,
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/images\/edits \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F image=\"@otter.png\" \\\n  -F mask=\"@mask.png\" \\\n  -F prompt=\"A cute baby sea otter wearing a beret\" \\\n  -F n=2 \\\n  -F size=\"1024x1024\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Image.create_edit(\n  image=open(\"otter.png\", \"rb\"),\n  mask=open(\"mask.png\", \"rb\"),\n  prompt=\"A cute baby sea otter wearing a beret\",\n  n=2,\n  size=\"1024x1024\"\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createImageEdit(\n  fs.createReadStream(\"otter.png\"),\n  fs.createReadStream(\"mask.png\"),\n  \"A cute baby sea otter wearing a beret\",\n  2,\n  \"1024x1024\"\n);\n"
                    },
                    "response": "{\n  \"created\": 1589478378,\n  \"data\": [\n    {\n      \"url\": \"https:\/\/...\"\n    },\n    {\n      \"url\": \"https:\/\/...\"\n    }\n  ]\n}\n"
                }
            }
        },
        "/images/variations": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates a variation of a given image.",
                "operationId": "createImageVariation",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateImageVariationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImagesResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create image variation",
                    "group": "images",
                    "path": "create-variation",
                    "beta": true,
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/images\/variations \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F image=\"@otter.png\" \\\n  -F n=2 \\\n  -F size=\"1024x1024\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Image.create_variation(\n  image=open(\"otter.png\", \"rb\"),\n  n=2,\n  size=\"1024x1024\"\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createImageVariation(\n  fs.createReadStream(\"otter.png\"),\n  2,\n  \"1024x1024\"\n);\n"
                    },
                    "response": "{\n  \"created\": 1589478378,\n  \"data\": [\n    {\n      \"url\": \"https:\/\/...\"\n    },\n    {\n      \"url\": \"https:\/\/...\"\n    }\n  ]\n}\n"
                }
            }
        },
        "/embeddings": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates an embedding vector representing the input text.",
                "operationId": "createEmbedding",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEmbeddingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateEmbeddingResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create embeddings",
                    "group": "embeddings",
                    "path": "create",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/embeddings \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application\/json\" \\\n  -d '{\n    \"input\": \"The food was delicious and the waiter...\",\n    \"model\": \"text-embedding-ada-002\"\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Embedding.create(\n  model=\"text-embedding-ada-002\",\n  input=\"The food was delicious and the waiter...\"\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createEmbedding({\n  model: \"text-embedding-ada-002\",\n  input: \"The food was delicious and the waiter...\",\n});\n"
                    },
                    "parameters": "{\n  \"model\": \"text-embedding-ada-002\",\n  \"input\": \"The food was delicious and the waiter...\"\n}\n",
                    "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"embedding\",\n      \"embedding\": [\n        0.0023064255,\n        -0.009327292,\n        .... (1536 floats total for ada-002)\n        -0.0028842222,\n      ],\n      \"index\": 0\n    }\n  ],\n  \"model\": \"text-embedding-ada-002\",\n  \"usage\": {\n    \"prompt_tokens\": 8,\n    \"total_tokens\": 8\n  }\n}\n"
                }
            }
        },
        "/audio/transcriptions": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Transcribes audio into the input language.",
                "operationId": "createTranscription",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTranscriptionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTranscriptionResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create transcription",
                    "group": "audio",
                    "path": "create",
                    "beta": true,
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/audio\/transcriptions \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: multipart\/form-data\" \\\n  -F file=\"@\/path\/to\/file\/audio.mp3\" \\\n  -F model=\"whisper-1\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\naudio_file = open(\"audio.mp3\", \"rb\")\ntranscript = openai.Audio.transcribe(\"whisper-1\", audio_file)\n",
                        "node": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst resp = await openai.createTranscription(\n  fs.createReadStream(\"audio.mp3\"),\n  \"whisper-1\"\n);\n"
                    },
                    "parameters": "{\n  \"file\": \"audio.mp3\",\n  \"model\": \"whisper-1\"\n}\n",
                    "response": "{\n  \"text\": \"Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that.\"\n}\n"
                }
            }
        },
        "/audio/translations": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Translates audio into English.",
                "operationId": "createTranslation",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTranslationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTranslationResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create translation",
                    "group": "audio",
                    "path": "create",
                    "beta": true,
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/audio\/translations \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: multipart\/form-data\" \\\n  -F file=\"@\/path\/to\/file\/german.m4a\" \\\n  -F model=\"whisper-1\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\naudio_file = open(\"german.m4a\", \"rb\")\ntranscript = openai.Audio.translate(\"whisper-1\", audio_file)\n",
                        "node": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst resp = await openai.createTranslation(\n  fs.createReadStream(\"audio.mp3\"),\n  \"whisper-1\"\n);\n"
                    },
                    "parameters": "{\n  \"file\": \"german.m4a\",\n  \"model\": \"whisper-1\"\n}\n",
                    "response": "{\n  \"text\": \"Hello, my name is Wolfgang and I come from Germany. Where are you heading today?\"\n}\n"
                }
            }
        },
        "/files": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Returns a list of files that belong to the user's organization.",
                "operationId": "listFiles",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFilesResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "List files",
                    "group": "files",
                    "path": "list",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/files \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.list()\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listFiles();\n"
                    },
                    "response": "{\n  \"data\": [\n    {\n      \"id\": \"file-ccdDZrC3iZVNiQVeEA6Z66wf\",\n      \"object\": \"file\",\n      \"bytes\": 175,\n      \"created_at\": 1613677385,\n      \"filename\": \"train.jsonl\",\n      \"purpose\": \"search\"\n    },\n    {\n      \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n      \"object\": \"file\",\n      \"bytes\": 140,\n      \"created_at\": 1613779121,\n      \"filename\": \"puppy.jsonl\",\n      \"purpose\": \"search\"\n    }\n  ],\n  \"object\": \"list\"\n}\n"
                }
            },
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Upload a file that contains document(s) to be used across various endpoints\/features. Currently, the size of all the files uploaded by one organization can be up to 1 GB. Please contact us if you need to increase the storage limit.\n",
                "operationId": "createFile",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateFileRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OpenAIFile"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Upload file",
                    "group": "files",
                    "path": "upload",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/files \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F purpose=\"fine-tune\" \\\n  -F file=\"@mydata.jsonl\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.create(\n  file=open(\"mydata.jsonl\", \"rb\"),\n  purpose='fine-tune'\n)\n",
                        "node.js": "const fs = require(\"fs\");\nconst { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createFile(\n  fs.createReadStream(\"mydata.jsonl\"),\n  \"fine-tune\"\n);\n"
                    },
                    "response": "{\n  \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n  \"object\": \"file\",\n  \"bytes\": 140,\n  \"created_at\": 1613779121,\n  \"filename\": \"mydata.jsonl\",\n  \"purpose\": \"fine-tune\"\n}\n"
                }
            }
        },
        "/files/{fileId}": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Returns information about a specific file.",
                "operationId": "retrieveFile",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "The ID of the file to use for this request",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OpenAIFile"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Retrieve file",
                    "group": "files",
                    "path": "retrieve",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/files\/file-XjGxS3KTG0uNmNOK362iJua3 \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.retrieve(\"file-XjGxS3KTG0uNmNOK362iJua3\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.retrieveFile(\"file-XjGxS3KTG0uNmNOK362iJua3\");\n"
                    },
                    "response": "{\n  \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n  \"object\": \"file\",\n  \"bytes\": 140,\n  \"created_at\": 1613779657,\n  \"filename\": \"mydata.jsonl\",\n  \"purpose\": \"fine-tune\"\n}\n"
                }
            },
            "delete": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Delete a file.",
                "operationId": "deleteFile",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "The ID of the file to use for this request",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteFileResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Delete file",
                    "group": "files",
                    "path": "delete",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/files\/file-XjGxS3KTG0uNmNOK362iJua3 \\\n  -X DELETE \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.delete(\"file-XjGxS3KTG0uNmNOK362iJua3\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.deleteFile(\"file-XjGxS3KTG0uNmNOK362iJua3\");\n"
                    },
                    "response": "{\n  \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n  \"object\": \"file\",\n  \"deleted\": true\n}\n"
                }
            }
        },
        "/files/{fileId}/content": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Returns the contents of the specified file",
                "operationId": "downloadFile",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "The ID of the file to use for this request",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Retrieve file content",
                    "group": "files",
                    "path": "retrieve-content",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/files\/file-XjGxS3KTG0uNmNOK362iJua3\/content \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" > file.jsonl\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\ncontent = openai.File.download(\"file-XjGxS3KTG0uNmNOK362iJua3\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.downloadFile(\"file-XjGxS3KTG0uNmNOK362iJua3\");\n"
                    }
                }
            }
        },
        "/fine-tunes": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "List your organization's fine-tuning jobs\n",
                "operationId": "listFineTunes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFineTunesResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "List fine-tunes",
                    "group": "fine-tunes",
                    "path": "list",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/fine-tunes \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.list()\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listFineTunes();\n"
                    },
                    "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"ft-AF1WoRqd3aJAHsqc9NY7iL8F\",\n      \"object\": \"fine-tune\",\n      \"model\": \"curie\",\n      \"created_at\": 1614807352,\n      \"fine_tuned_model\": null,\n      \"hyperparams\": { ... },\n      \"organization_id\": \"org-...\",\n      \"result_files\": [],\n      \"status\": \"pending\",\n      \"validation_files\": [],\n      \"training_files\": [ { ... } ],\n      \"updated_at\": 1614807352,\n    },\n    { ... },\n    { ... }\n  ]\n}\n"
                }
            },
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Creates a job that fine-tunes a specified model from a given dataset.\n\nResponse includes details of the enqueued job including job status and the name of the fine-tuned models once complete.\n\n[Learn more about Fine-tuning](\/docs\/guides\/fine-tuning)\n",
                "operationId": "createFineTune",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateFineTuneRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FineTune"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create fine-tune",
                    "group": "fine-tunes",
                    "path": "create",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/fine-tunes \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"training_file\": \"file-XGinujblHPwGLSztz8cPS8XY\"\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.create(training_file=\"file-XGinujblHPwGLSztz8cPS8XY\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createFineTune({\n  training_file: \"file-XGinujblHPwGLSztz8cPS8XY\",\n});\n"
                    },
                    "response": "{\n  \"id\": \"ft-AF1WoRqd3aJAHsqc9NY7iL8F\",\n  \"object\": \"fine-tune\",\n  \"model\": \"curie\",\n  \"created_at\": 1614807352,\n  \"events\": [\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807352,\n      \"level\": \"info\",\n      \"message\": \"Job enqueued. Waiting for jobs ahead to complete. Queue number: 0.\"\n    }\n  ],\n  \"fine_tuned_model\": null,\n  \"hyperparams\": {\n    \"batch_size\": 4,\n    \"learning_rate_multiplier\": 0.1,\n    \"n_epochs\": 4,\n    \"prompt_loss_weight\": 0.1,\n  },\n  \"organization_id\": \"org-...\",\n  \"result_files\": [],\n  \"status\": \"pending\",\n  \"validation_files\": [],\n  \"training_files\": [\n    {\n      \"id\": \"file-XGinujblHPwGLSztz8cPS8XY\",\n      \"object\": \"file\",\n      \"bytes\": 1547276,\n      \"created_at\": 1610062281,\n      \"filename\": \"my-data-train.jsonl\",\n      \"purpose\": \"fine-tune-train\"\n    }\n  ],\n  \"updated_at\": 1614807352,\n}\n"
                }
            }
        },
        "/fine-tunes/{fineTuneId}": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Gets info about the fine-tune job.\n\n[Learn more about Fine-tuning](\/docs\/guides\/fine-tuning)\n",
                "operationId": "retrieveFineTune",
                "parameters": [
                    {
                        "name": "fineTuneId",
                        "in": "path",
                        "description": "The ID of the fine-tune job\n",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "ft-AF1WoRqd3aJAHsqc9NY7iL8F"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FineTune"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Retrieve fine-tune",
                    "group": "fine-tunes",
                    "path": "retrieve",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/fine-tunes\/ft-AF1WoRqd3aJAHsqc9NY7iL8F \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.retrieve(id=\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.retrieveFineTune(\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\");\n"
                    },
                    "response": "{\n  \"id\": \"ft-AF1WoRqd3aJAHsqc9NY7iL8F\",\n  \"object\": \"fine-tune\",\n  \"model\": \"curie\",\n  \"created_at\": 1614807352,\n  \"events\": [\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807352,\n      \"level\": \"info\",\n      \"message\": \"Job enqueued. Waiting for jobs ahead to complete. Queue number: 0.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807356,\n      \"level\": \"info\",\n      \"message\": \"Job started.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807861,\n      \"level\": \"info\",\n      \"message\": \"Uploaded snapshot: curie:ft-acmeco-2021-03-03-21-44-20.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Uploaded result files: file-QQm6ZpqdNwAaVC3aSz5sWwLT.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Job succeeded.\"\n    }\n  ],\n  \"fine_tuned_model\": \"curie:ft-acmeco-2021-03-03-21-44-20\",\n  \"hyperparams\": {\n    \"batch_size\": 4,\n    \"learning_rate_multiplier\": 0.1,\n    \"n_epochs\": 4,\n    \"prompt_loss_weight\": 0.1,\n  },\n  \"organization_id\": \"org-...\",\n  \"result_files\": [\n    {\n      \"id\": \"file-QQm6ZpqdNwAaVC3aSz5sWwLT\",\n      \"object\": \"file\",\n      \"bytes\": 81509,\n      \"created_at\": 1614807863,\n      \"filename\": \"compiled_results.csv\",\n      \"purpose\": \"fine-tune-results\"\n    }\n  ],\n  \"status\": \"succeeded\",\n  \"validation_files\": [],\n  \"training_files\": [\n    {\n      \"id\": \"file-XGinujblHPwGLSztz8cPS8XY\",\n      \"object\": \"file\",\n      \"bytes\": 1547276,\n      \"created_at\": 1610062281,\n      \"filename\": \"my-data-train.jsonl\",\n      \"purpose\": \"fine-tune-train\"\n    }\n  ],\n  \"updated_at\": 1614807865,\n}\n"
                }
            }
        },
        "/fine-tunes/{fineTuneId}/cancel": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Immediately cancel a fine-tune job.\n",
                "operationId": "cancelFineTune",
                "parameters": [
                    {
                        "name": "fineTuneId",
                        "in": "path",
                        "description": "The ID of the fine-tune job to cancel\n",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "ft-AF1WoRqd3aJAHsqc9NY7iL8F"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FineTune"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Cancel fine-tune",
                    "group": "fine-tunes",
                    "path": "cancel",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/fine-tunes\/ft-AF1WoRqd3aJAHsqc9NY7iL8F\/cancel \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.cancel(id=\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.cancelFineTune(\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\");\n"
                    },
                    "response": "{\n  \"id\": \"ft-xhrpBbvVUzYGo8oUO1FY4nI7\",\n  \"object\": \"fine-tune\",\n  \"model\": \"curie\",\n  \"created_at\": 1614807770,\n  \"events\": [ { ... } ],\n  \"fine_tuned_model\": null,\n  \"hyperparams\": { ... },\n  \"organization_id\": \"org-...\",\n  \"result_files\": [],\n  \"status\": \"cancelled\",\n  \"validation_files\": [],\n  \"training_files\": [\n    {\n      \"id\": \"file-XGinujblHPwGLSztz8cPS8XY\",\n      \"object\": \"file\",\n      \"bytes\": 1547276,\n      \"created_at\": 1610062281,\n      \"filename\": \"my-data-train.jsonl\",\n      \"purpose\": \"fine-tune-train\"\n    }\n  ],\n  \"updated_at\": 1614807789,\n}\n"
                }
            }
        },
        "/fine-tunes/{fineTuneId}/events": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Get fine-grained status updates for a fine-tune job.\n",
                "operationId": "listFineTuneEvents",
                "parameters": [
                    {
                        "name": "fineTuneId",
                        "in": "path",
                        "description": "The ID of the fine-tune job to get events for\n",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "ft-AF1WoRqd3aJAHsqc9NY7iL8F"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "query",
                        "description": "Whether to stream events for the fine-tune job. If set to true,\nevents will be sent as data-only\n[server-sent events](https:\/\/developer.mozilla.org\/en-US\/docs\/Web\/API\/Server-sent_events\/Using_server-sent_events#Event_stream_format)\nas they become available. The stream will terminate with a\n`data: [DONE]` message when the job is finished (succeeded, cancelled,\nor failed).\n\nIf set to false, only events generated so far will be returned\n",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListFineTuneEventsResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "List fine-tune events",
                    "group": "fine-tunes",
                    "path": "events",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/fine-tunes\/ft-AF1WoRqd3aJAHsqc9NY7iL8F\/events \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.list_events(id=\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listFineTuneEvents(\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\");\n"
                    },
                    "response": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807352,\n      \"level\": \"info\",\n      \"message\": \"Job enqueued. Waiting for jobs ahead to complete. Queue number: 0.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807356,\n      \"level\": \"info\",\n      \"message\": \"Job started.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807861,\n      \"level\": \"info\",\n      \"message\": \"Uploaded snapshot: curie:ft-acmeco-2021-03-03-21-44-20.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Uploaded result files: file-QQm6ZpqdNwAaVC3aSz5sWwLT.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Job succeeded.\"\n    }\n  ]\n}\n"
                }
            }
        },
        "/models": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Lists the currently available models, and provides basic information about each one such as the owner and availability.",
                "operationId": "listModels",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListModelsResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "List models",
                    "group": "models",
                    "path": "list",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/models \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Model.list()\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listModels();\n"
                    },
                    "response": "{\n  \"data\": [\n    {\n      \"id\": \"model-id-0\",\n      \"object\": \"model\",\n      \"owned_by\": \"organization-owner\",\n      \"permission\": [...]\n    },\n    {\n      \"id\": \"model-id-1\",\n      \"object\": \"model\",\n      \"owned_by\": \"organization-owner\",\n      \"permission\": [...]\n    },\n    {\n      \"id\": \"model-id-2\",\n      \"object\": \"model\",\n      \"owned_by\": \"openai\",\n      \"permission\": [...]\n    },\n  ],\n  \"object\": \"list\"\n}\n"
                }
            }
        },
        "/models/{model}": {
            "get": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Retrieves a model instance, providing basic information about the model such as the owner and permissioning.",
                "operationId": "retrieveModel",
                "parameters": [
                    {
                        "name": "model",
                        "in": "path",
                        "description": "The ID of the model to use for this request",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "text-davinci-001"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Model"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Retrieve model",
                    "group": "models",
                    "path": "retrieve",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/models\/VAR_model_id \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Model.retrieve(\"VAR_model_id\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.retrieveModel(\"VAR_model_id\");\n"
                    },
                    "response": "{\n  \"id\": \"VAR_model_id\",\n  \"object\": \"model\",\n  \"owned_by\": \"openai\",\n  \"permission\": [...]\n}\n"
                }
            },
            "delete": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Delete a fine-tuned model. You must have the Owner role in your organization.",
                "operationId": "deleteModel",
                "parameters": [
                    {
                        "name": "model",
                        "in": "path",
                        "description": "The model to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "curie:ft-acmeco-2021-03-03-21-44-20"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteModelResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Delete fine-tune model",
                    "group": "fine-tunes",
                    "path": "delete-model",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/models\/curie:ft-acmeco-2021-03-03-21-44-20 \\\n  -X DELETE \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Model.delete(\"curie:ft-acmeco-2021-03-03-21-44-20\")\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.deleteModel('curie:ft-acmeco-2021-03-03-21-44-20');\n"
                    },
                    "response": "{\n  \"id\": \"curie:ft-acmeco-2021-03-03-21-44-20\",\n  \"object\": \"model\",\n  \"deleted\": true\n}\n"
                }
            }
        },
        "/moderations": {
            "post": {
                "tags": [
                    "OpenAI"
                ],
                "summary": "Classifies if text violates OpenAI's Content Policy",
                "operationId": "createModeration",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateModerationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateModerationResponse"
                                }
                            }
                        }
                    }
                },
                "x-oaiMeta": {
                    "name": "Create moderation",
                    "group": "moderations",
                    "path": "create",
                    "examples": {
                        "curl": "curl https:\/\/api.openai.com\/v1\/moderations \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"input\": \"I want to kill them.\"\n  }'\n",
                        "python": "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Moderation.create(\n  input=\"I want to kill them.\",\n)\n",
                        "node.js": "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createModeration({\n  input: \"I want to kill them.\",\n});\n"
                    },
                    "parameters": "{\n  \"input\": \"I want to kill them.\"\n}\n",
                    "response": "{\n  \"id\": \"modr-5MWoLO\",\n  \"model\": \"text-moderation-001\",\n  \"results\": [\n    {\n      \"categories\": {\n        \"hate\": false,\n        \"hate\/threatening\": true,\n        \"self-harm\": false,\n        \"sexual\": false,\n        \"sexual\/minors\": false,\n        \"violence\": true,\n        \"violence\/graphic\": false\n      },\n      \"category_scores\": {\n        \"hate\": 0.22714105248451233,\n        \"hate\/threatening\": 0.4132447838783264,\n        \"self-harm\": 0.005232391878962517,\n        \"sexual\": 0.01407341007143259,\n        \"sexual\/minors\": 0.0038522258400917053,\n        \"violence\": 0.9223177433013916,\n        \"violence\/graphic\": 0.036865197122097015\n      },\n      \"flagged\": true\n    }\n  ]\n}\n"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CreateTranscriptionResponse": {
                "required": [
                    "text"
                ],
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string"
                    }
                }
            },
            "CreateChatCompletionResponseChoices": {
                "type": "object",
                "properties": {
                    "finish_reason": {
                        "type": "string",
                        "enum": [
                            "stop",
                            "length",
                            "function_call"
                        ],
                        "x-ballerina-name": "finishReason"
                    },
                    "index": {
                        "type": "integer"
                    },
                    "message": {
                        "$ref": "#/components/schemas/ChatCompletionResponseMessage"
                    }
                }
            },
            "CreateEditRequest": {
                "required": [
                    "instruction",
                    "model"
                ],
                "type": "object",
                "properties": {
                    "top_p": {
                        "maximum": 1,
                        "minimum": 0,
                        "type": "number",
                        "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or `temperature` but not both\n",
                        "nullable": true,
                        "example": 1,
                        "default": 1,
                        "x-ballerina-name": "topP"
                    },
                    "input": {
                        "type": "string",
                        "description": "The input text to use as a starting point for the edit",
                        "nullable": true,
                        "example": "What day of the wek is it?",
                        "default": ""
                    },
                    "instruction": {
                        "type": "string",
                        "description": "The instruction that tells the model how to edit the prompt",
                        "example": "Fix the spelling mistakes."
                    },
                    "temperature": {
                        "maximum": 2,
                        "minimum": 0,
                        "type": "number",
                        "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both\n",
                        "nullable": true,
                        "example": 1,
                        "default": 1
                    },
                    "model": {
                        "type": "string",
                        "description": "ID of the model to use. You can use the `text-davinci-edit-001` or `code-davinci-edit-001` model with this endpoint",
                        "example": "text-davinci-edit-001",
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string",
                                "enum": [
                                    "text-davinci-edit-001",
                                    "code-davinci-edit-001"
                                ]
                            }
                        ]
                    },
                    "n": {
                        "maximum": 20,
                        "minimum": 1,
                        "type": "integer",
                        "description": "How many edits to generate for the input and instruction",
                        "nullable": true,
                        "example": 1,
                        "default": 1
                    }
                }
            },
            "CreateImageRequest": {
                "required": [
                    "prompt"
                ],
                "type": "object",
                "properties": {
                    "response_format": {
                        "type": "string",
                        "description": "The format in which the generated images are returned. Must be one of `url` or `b64_json`",
                        "nullable": true,
                        "example": "url",
                        "default": "url",
                        "enum": [
                            "url",
                            "b64_json"
                        ],
                        "x-ballerina-name": "responseFormat"
                    },
                    "size": {
                        "type": "string",
                        "description": "The size of the generated images. Must be one of `256x256`, `512x512`, or `1024x1024`",
                        "nullable": true,
                        "example": "1024x1024",
                        "default": "1024x1024",
                        "enum": [
                            "256x256",
                            "512x512",
                            "1024x1024"
                        ]
                    },
                    "prompt": {
                        "type": "string",
                        "description": "A text description of the desired image(s). The maximum length is 1000 characters",
                        "example": "A cute baby sea otter"
                    },
                    "user": {
                        "type": "string",
                        "description": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](\/docs\/guides\/safety-best-practices\/end-user-ids)\n",
                        "example": "user-1234"
                    },
                    "n": {
                        "maximum": 10,
                        "minimum": 1,
                        "type": "integer",
                        "description": "The number of images to generate. Must be between 1 and 10",
                        "nullable": true,
                        "example": 1,
                        "default": 1
                    }
                }
            },
            "ChatCompletionRequestMessage": {
                "required": [
                    "role"
                ],
                "type": "object",
                "properties": {
                    "role": {
                        "type": "string",
                        "description": "The role of the messages author. One of `system`, `user`, `assistant`, or `function`",
                        "enum": [
                            "system",
                            "user",
                            "assistant",
                            "function"
                        ]
                    },
                    "function_call": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ChatCompletionRequestMessageFunctionCall"
                            }
                        ],
                        "x-ballerina-name": "functionCall"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the author of this message. `name` is required if role is `function`, and it should be the name of the function whose response is in the `content`. May contain a-z, A-Z, 0-9, and underscores, with a maximum length of 64 characters"
                    },
                    "content": {
                        "type": "string",
                        "description": "The contents of the message. `content` is required for all messages except assistant messages with function calls"
                    }
                }
            },
            "CreateTranscriptionRequest": {
                "required": [
                    "file",
                    "model"
                ],
                "type": "object",
                "properties": {
                    "file": {
                        "type": "string",
                        "description": "The audio file object (not file name) to transcribe, in one of these formats: mp3, mp4, mpeg, mpga, m4a, wav, or webm\n",
                        "format": "binary",
                        "x-oaiTypeLabel": "file"
                    },
                    "response_format": {
                        "type": "string",
                        "description": "The format of the transcript output, in one of these options: json, text, srt, verbose_json, or vtt\n",
                        "default": "json",
                        "x-ballerina-name": "responseFormat"
                    },
                    "temperature": {
                        "type": "number",
                        "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https:\/\/en.wikipedia.org\/wiki\/Log_probability) to automatically increase the temperature until certain thresholds are hit\n",
                        "default": 0
                    },
                    "model": {
                        "description": "ID of the model to use. Only `whisper-1` is currently available\n",
                        "example": "whisper-1",
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string",
                                "enum": [
                                    "whisper-1"
                                ]
                            }
                        ]
                    },
                    "language": {
                        "type": "string",
                        "description": "The language of the input audio. Supplying the input language in [ISO-639-1](https:\/\/en.wikipedia.org\/wiki\/List_of_ISO_639-1_codes) format will improve accuracy and latency\n"
                    },
                    "prompt": {
                        "type": "string",
                        "description": "An optional text to guide the model's style or continue a previous audio segment. The [prompt](\/docs\/guides\/speech-to-text\/prompting) should match the audio language\n"
                    }
                },
                "additionalProperties": false
            },
            "CreateTranslationRequest": {
                "required": [
                    "file",
                    "model"
                ],
                "type": "object",
                "properties": {
                    "file": {
                        "type": "string",
                        "description": "The audio file object (not file name) translate, in one of these formats: mp3, mp4, mpeg, mpga, m4a, wav, or webm\n",
                        "format": "binary",
                        "x-oaiTypeLabel": "file"
                    },
                    "response_format": {
                        "type": "string",
                        "description": "The format of the transcript output, in one of these options: json, text, srt, verbose_json, or vtt\n",
                        "default": "json",
                        "x-ballerina-name": "responseFormat"
                    },
                    "temperature": {
                        "type": "number",
                        "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https:\/\/en.wikipedia.org\/wiki\/Log_probability) to automatically increase the temperature until certain thresholds are hit\n",
                        "default": 0
                    },
                    "model": {
                        "description": "ID of the model to use. Only `whisper-1` is currently available\n",
                        "example": "whisper-1",
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string",
                                "enum": [
                                    "whisper-1"
                                ]
                            }
                        ]
                    },
                    "prompt": {
                        "type": "string",
                        "description": "An optional text to guide the model's style or continue a previous audio segment. The [prompt](\/docs\/guides\/speech-to-text\/prompting) should be in English\n"
                    }
                },
                "additionalProperties": false
            },
            "CreateModerationResponse": {
                "required": [
                    "id",
                    "model",
                    "results"
                ],
                "type": "object",
                "properties": {
                    "model": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CreateModerationResponseResults"
                        }
                    }
                }
            },
            "ListFineTunesResponse": {
                "required": [
                    "data",
                    "object"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FineTune"
                        }
                    },
                    "object": {
                        "type": "string"
                    }
                }
            },
            "CreateEmbeddingResponse": {
                "required": [
                    "data",
                    "model",
                    "object",
                    "usage"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CreateEmbeddingResponseData"
                        }
                    },
                    "usage": {
                        "$ref": "#/components/schemas/CreateEmbeddingResponseUsage"
                    },
                    "model": {
                        "type": "string"
                    },
                    "object": {
                        "type": "string"
                    }
                }
            },
            "FineTune": {
                "title": "FineTune",
                "required": [
                    "created_at",
                    "fine_tuned_model",
                    "hyperparams",
                    "id",
                    "model",
                    "object",
                    "organization_id",
                    "result_files",
                    "status",
                    "training_files",
                    "updated_at",
                    "validation_files"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "integer"
                    },
                    "updated_at": {
                        "type": "integer"
                    },
                    "model": {
                        "type": "string"
                    },
                    "fine_tuned_model": {
                        "type": "string",
                        "nullable": true
                    },
                    "organization_id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "hyperparams": {
                        "type": "object"
                    },
                    "training_files": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OpenAIFile"
                        }
                    },
                    "validation_files": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OpenAIFile"
                        }
                    },
                    "result_files": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OpenAIFile"
                        }
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FineTuneEvent"
                        }
                    }
                }
            },
            "ImagesResponseData": {
                "type": "object",
                "properties": {
                    "b64_json": {
                        "type": "string",
                        "x-ballerina-name": "b64Json"
                    },
                    "url": {
                        "type": "string"
                    }
                }
            },
            "ListFineTuneEventsResponse": {
                "required": [
                    "data",
                    "object"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FineTuneEvent"
                        }
                    },
                    "object": {
                        "type": "string"
                    }
                }
            },
            "CreateEmbeddingRequest": {
                "required": [
                    "input",
                    "model"
                ],
                "type": "object",
                "properties": {
                    "input": {
                        "description": "Input text to embed, encoded as a string or array of tokens. To embed multiple inputs in a single request, pass an array of strings or array of token arrays. Each input must not exceed the max input tokens for the model (8191 tokens for `text-embedding-ada-002`). [Example Python code](https:\/\/github.com\/openai\/openai-cookbook\/blob\/main\/examples\/How_to_count_tokens_with_tiktoken.ipynb) for counting tokens\n",
                        "example": "The quick brown fox jumped over the lazy dog",
                        "oneOf": [
                            {
                                "type": "string",
                                "example": "This is a test.",
                                "default": ""
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "example": "This is a test.",
                                    "default": ""
                                }
                            },
                            {
                                "minItems": 1,
                                "type": "array",
                                "example": "[1212, 318, 257, 1332, 13]",
                                "items": {
                                    "type": "integer"
                                }
                            },
                            {
                                "minItems": 1,
                                "type": "array",
                                "example": "[[1212, 318, 257, 1332, 13]]",
                                "items": {
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                }
                            }
                        ]
                    },
                    "model": {
                        "description": "ID of the model to use. You can use the [List models](\/docs\/api-reference\/models\/list) API to see all of your available models, or see our [Model overview](\/docs\/models\/overview) for descriptions of them\n",
                        "example": "text-embedding-ada-002",
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string",
                                "enum": [
                                    "text-embedding-ada-002"
                                ]
                            }
                        ]
                    },
                    "user": {
                        "type": "string",
                        "description": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](\/docs\/guides\/safety-best-practices\/end-user-ids)\n",
                        "example": "user-1234"
                    }
                },
                "additionalProperties": false
            },
            "ChatCompletionFunctions": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of what the function does"
                    },
                    "parameters": {
                        "$ref": "#/components/schemas/ChatCompletionFunctionParameters"
                    }
                }
            },
            "CreateModerationRequest": {
                "required": [
                    "input"
                ],
                "type": "object",
                "properties": {
                    "input": {
                        "description": "The input text to classify",
                        "oneOf": [
                            {
                                "type": "string",
                                "example": "I want to kill them.",
                                "default": ""
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "example": "I want to kill them.",
                                    "default": ""
                                }
                            }
                        ]
                    },
                    "model": {
                        "description": "Two content moderations models are available: `text-moderation-stable` and `text-moderation-latest`.\n\nThe default is `text-moderation-latest` which will be automatically upgraded over time. This ensures you are always using our most accurate model. If you use `text-moderation-stable`, we will provide advanced notice before updating the model. Accuracy of `text-moderation-stable` may be slightly lower than for `text-moderation-latest`\n",
                        "nullable": false,
                        "example": "text-moderation-stable",
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "string",
                                "enum": [
                                    "text-moderation-latest",
                                    "text-moderation-stable"
                                ]
                            }
                        ],
                        "default": "text-moderation-latest"
                    }
                }
            },
            "CreateEmbeddingResponseUsage": {
                "required": [
                    "prompt_tokens",
                    "total_tokens"
                ],
                "type": "object",
                "properties": {
                    "prompt_tokens": {
                        "type": "integer",
                        "x-ballerina-name": "promptTokens"
                    },
                    "total_tokens": {
                        "type": "integer",
                        "x-ballerina-name": "totalTokens"
                    }
                }
            },
            "CreateCompletionResponseLogprobs": {
                "type": "object",
                "properties": {
                    "top_logprobs": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        },
                        "x-ballerina-name": "topLogprobs"
                    },
                    "token_logprobs": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "x-ballerina-name": "tokenLogprobs"
                    },
                    "tokens": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "text_offset": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "x-ballerina-name": "textOffset"
                    }
                },
                "nullable": true
            },
            "DeleteFileResponse": {
                "required": [
                    "deleted",
                    "id",
                    "object"
                ],
                "type": "object",
                "properties": {
                    "deleted": {
                        "type": "boolean"
                    },
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "type": "string"
                    }
                }
            },
            "ChatCompletionStreamResponseDelta": {
                "type": "object",
                "properties": {
                    "role": {
                        "type": "string",
                        "description": "The role of the author of this message",
                        "enum": [
                            "system",
                            "user",
                            "assistant",
                            "function"
                        ]
                    },
                    "function_call": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ChatCompletionRequestMessageFunctionCall"
                            }
                        ],
                        "x-ballerina-name": "functionCall"
                    },
                    "content": {
                        "type": "string",
                        "description": "The contents of the chunk message",
                        "nullable": true
                    }
                }
            },
            "CreateEditResponse": {
                "required": [
                    "choices",
                    "created",
                    "object",
                    "usage"
                ],
                "type": "object",
                "properties": {
                    "created": {
                        "type": "integer"
                    },
                    "usage": {
                        "$ref": "#/components/schemas/CreateCompletionResponseUsage"
                    },
                    "choices": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CreateEditResponseChoices"
                        }
                    },
                    "object": {
                        "type": "string"
                    }
                }
            },
            "OpenAIFile": {
                "title": "OpenAIFile",
                "required": [
                    "bytes",
                    "created_at",
                    "filename",
                    "id",
                    "object",
                    "purpose"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "type": "string"
                    },
                    "bytes": {
                        "type": "integer"
                    },
                    "created_at": {
                        "type": "integer"
                    },
                    "filename": {
                        "type": "string"
                    },
                    "purpose": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "status_details": {
                        "type": "object",
                        "nullable": true
                    }
                }
            },
            "CreateModerationResponseResults": {
                "required": [
                    "categories",
                    "category_scores",
                    "flagged"
                ],
                "type": "object",
                "properties": {
                    "category_scores": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CreateModerationResponseCategoryScores"
                            }
                        ],
                        "x-ballerina-name": "categoryScores"
                    },
                    "flagged": {
                        "type": "boolean"
                    },
                    "categories": {
                        "$ref": "#/components/schemas/CreateModerationResponseCategories"
                    }
                }
            },
            "CreateCompletionResponseUsage": {
                "required": [
                    "completion_tokens",
                    "prompt_tokens",
                    "total_tokens"
                ],
                "type": "object",
                "properties": {
                    "completion_tokens": {
                        "type": "integer",
                        "x-ballerina-name": "completionTokens"
                    },
                    "prompt_tokens": {
                        "type": "integer",
                        "x-ballerina-name": "promptTokens"
                    },
                    "total_tokens": {
                        "type": "integer",
                        "x-ballerina-name": "totalTokens"
                    }
                }
            },
            "CreateModerationResponseCategoryScores": {
                "required": [
                    "hate",
                    "hate/threatening",
                    "self-harm",
                    "sexual",
                    "sexual/minors",
                    "violence",
                    "violence/graphic"
                ],
                "type": "object",
                "properties": {
                    "hate/threatening": {
                        "type": "number",
                        "x-ballerina-name": "hateThreatening"
                    },
                    "sexual/minors": {
                        "type": "number",
                        "x-ballerina-name": "sexualMinors"
                    },
                    "hate": {
                        "type": "number"
                    },
                    "self-harm": {
                        "type": "number",
                        "x-ballerina-name": "selfHarm"
                    },
                    "sexual": {
                        "type": "number"
                    },
                    "violence/graphic": {
                        "type": "number",
                        "x-ballerina-name": "violenceGraphic"
                    },
                    "violence": {
                        "type": "number"
                    }
                }
            },
            "CreateEditResponseChoices": {
                "type": "object",
                "properties": {
                    "finish_reason": {
                        "type": "string",
                        "enum": [
                            "stop",
                            "length"
                        ],
                        "x-ballerina-name": "finishReason"
                    },
                    "index": {
                        "type": "integer"
                    },
                    "text": {
                        "type": "string"
                    },
                    "logprobs": {
                        "$ref": "#/components/schemas/CreateCompletionResponseLogprobs"
                    }
                }
            },
            "CreateChatCompletionRequest": {
                "required": [
                    "messages",
                    "model"
                ],
                "type": "object",
                "properties": {
                    "logit_bias": {
                        "type": "object",
                        "description": "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a json object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token\n",
                        "nullable": true,
                        "x-oaiTypeLabel": "map",
                        "x-ballerina-name": "logitBias"
                    },
                    "functions": {
                        "minItems": 1,
                        "type": "array",
                        "description": "A list of functions the model may generate JSON inputs for",
                        "items": {
                            "$ref": "#/components/schemas/ChatCompletionFunctions"
                        }
                    },
                    "function_call": {
                        "description": "Controls how the model responds to function calls. \"none\" means the model does not call a function, and responds to the end-user. \"auto\" means the model can pick between an end-user or calling a function.  Specifying a particular function via `{\"name\":\\ \"my_function\"}` forces the model to call that function. \"none\" is the default when no functions are present. \"auto\" is the default if functions are present",
                        "oneOf": [
                            {
                                "type": "string",
                                "enum": [
                                    "none",
                                    "auto"
                                ]
                            },
                            {
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the function to call."
                                    }
                                }
                            }
                        ],
                        "x-ballerina-name": "functionCall"
                    },
[...]
