name: Sender Workflow via GH CLI - HubSpot CRM Associations

on:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Auto-Generate Connector workflow for HubSpot CRM Associations
        env:
          GH_TOKEN: ${{ secrets.CROSS_REPO_PAT }}
        run: |
          gh api \
            repos/ballerina-library-test/module-ballerinax-hubspot.crm.associations/dispatches \
            -X POST \
            -f event_type=openapi-update \
            -f client_payload[sender]=api-specs-test/api-specs \
            -f client_payload[openapi_url]=https://raw.githubusercontent.com/api-specs-test/api-specs/main/openapi/hubspot/crm.associations/rollout-130902/openapi.yaml \
            -f client_payload[spec_version]=rollout-130902