name: Sender Workflow via GH CLI - HubSpot CRM Commerce Discounts

on:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Auto-Generate Connector workflow for HubSpot CRM Commerce Discounts
        env:
          GH_TOKEN: ${{ secrets.CROSS_REPO_PAT }}
        run: |
          gh api \
            repos/ballerina-library-test/module-ballerinax-hubspot.crm.commerce.discounts/dispatches \
            -X POST \
            -f event_type=openapi-update \
            -f client_payload[sender]=ballerina-library-test/module-ballerinax-hubspot.crm.commerce.discounts \
            -f client_payload[openapi_url]=https://raw.githubusercontent.com/api-specs-test/api-specs/main/openapi/hubspot/crm.commerce.discounts/v3/openapi.yaml \
            -f client_payload[spec_version]=main