name: Sender Workflow via GH CLI

on:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger workflow in ballerina-library-test org
        env:
          GH_TOKEN: ${{ secrets.CROSS_REPO_PAT }}
        run: |
          gh api \
            repos/ballerina-library-test/module-ballerinax-docusign.dsadmin/dispatches \
            -X POST \
            -f event_type=trigger-from-api-specs-test \
            -f client_payload[sender]=api-specs-test/api-specs
