name: Sender Workflow via GH CLI - Twilio

on:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Auto-Generate Connector workflow for Twilio
        env:
          GH_TOKEN: ${{ secrets.CROSS_REPO_PAT }}
        run: |
          gh api \
            repos/ballerina-library-test/module-ballerinax-twilio/dispatches \
            -X POST \
            -f event_type=openapi-update \
            -f client_payload[sender]=api-specs-test/api-specs \
            -f client_payload[openapi_url]=https://raw.githubusercontent.com/api-specs-test/api-specs/main/openapi/twilio/twilio/2.6.2/openapi.yaml \
            -f client_payload[spec_version]=2.6.2