name: Trigger Connector Generation

on:
  push:
    paths:
      - "openapi/**"
    branches:
      - main
  workflow_dispatch:

jobs:
  call-generator:
    uses: ballerina-library-test/ballerina-library/.github/workflows/auto-generate-connector.yml@main
    with:
      openapi-url: https://raw.githubusercontent.com/api-specs-test/api-specs/main/openapi/openai/openai-openapi/2.0.0/openapi.yaml
      ballerina-version: "2201.13.0"
      quiet-mode: true
    secrets:
      BALLERINA_BOT_TOKEN: ${{ secrets.REVIEWER_BOT_TOKEN }}
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
